POSTGRES_DB=lab1db
POSTGRES_USER=labdb
POSTGRES_PASSWORD=qwertypass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DJANGO_SECRET_KEY=django-insecure-local-dev-key
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
